<%- include header %>
<div id="banner" style="position: relative;">
    <img class="banner d-none d-sm-block" src="img/anh.jpg">
    <div class="banner-text d-none d-sm-block animate-box" style="z-index: 1" data-animate-effect="fadeInLeft">
        <h2>Chúng tôi sẽ giúp bạn <br>lựa chọn những chiếc laptop tốt nhất</h2>
        <div style="width: 60%">Sự hài lòng của bạn là niềm vinh dự đối với chúng tôi.<br><br>
            <a href="search" class="btn btn-banner">Tìm kiếm ngay</a>
        </div>
    </div>
</div>

<div class="smoke" id="contact">
    <div class="container">
        <div class="heading animate-box">
            <h2><b>LIÊN HỆ</b></h2>
        </div>
        <div class="row animate-box">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Tên</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Tên">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Email</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Nội dung</label>
                        <textarea class="form-control" rows="5" placeholder="Nội dung"></textarea>
                    </div>
                    <button class="btn btn-banner">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include footer %>