<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <title>Computer Product Suggestion</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/animate.css" />  
     <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <script src="./js/modernizr-3.5.0.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg nav-bar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Computer Product <span class="navbar-brand2"> Suggestion</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto navi">
                    <li class="nav-item">
                        <a class="nav-link nav-btn" href="" title = "Trang chủ"><img src="img/icon/home.png"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-btn" href="search" title = "Tìm kiếm"><img src="img/icon/search.png"></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link nav-btn" href="#" title = "Giỏ hàng"><img src="img/icon/shopping-cart.png"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-btn" href="#" title = "Bảng xếp hạng"><img src="img/icon/ranking.png"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-btn" href="#" title = "User"><img src="img/icon/avatar.png"></a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link nav-btn" href="#" style="margin-top: 5px">Xin chào, Guest</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div>
        <img class="banner d-none d-sm-block" src="img/anh.jpg">
        <div class="banner-text d-none d-sm-block animate-box" data-animate-effect="fadeInLeft">
            <h2>Chúng tôi sẽ giúp bạn <br>lựa chọn những chiếc laptop tốt nhất</h2>
            <div style="width: 60%">Sự hài lòng của bạn là niềm vinh dự đối với chúng tôi.<br><br>
                <a href="search" class="btn btn-banner">Tìm kiếm ngay</a>
            </div>
        </div>

    </div>

    <div class="smoke">
        <div class="container" id="contact">
            <div class="heading animate-box">
                <h2><b>CONTACT US</b></h2>
            </div>
            <div class="row animate-box">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Name</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Email</label>
                            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Email</label>
                            <textarea class="form-control" rows="5" placeholder="Msg Here"></textarea>
                        </div>
                        <button class="btn btn-banner">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="signup animate-box" id="fh5co-newsletter">
        <div class="text-center">
            <h2>Sign up to our newsletter for special offers</h2>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 text-center">
                <div class="input-group">
                    <input type="text" class="form-control dark-bg" style="height: 40px;"
                        placeholder="Enter your email address" aria-label="Recipient's username"
                        aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-org" style="height: 40px;" type="button">SIGN UP
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dark">
        <div class="container animate-box" id="fh5co-footer">
            <div-- class="row">
                <div class="col-sm-6">
                    <div><a class="nsavbar-brand" href="/">Computer Product<span class="navbar-brand2"> Suggestion</span></a></div>
                    <br>
                    <div class="text-white" style="text-align: justify">Với những công cụ trực quan và đội ngũ chuyên nghiệp, chúng tôi tin rằng
                        sẽ đưa cho bạn những sự lựa chọn tốt nhất về các sản phẩm máy tính mà bạn đang quan tâm.
                    </div>
                
                </div>
                <!--div class="col-sm-4"></div-->
                <div class="col-sm-4">
                    <div class="icons">Website của chúng tôi</h3>
                    </div>
                    <br>
                    <table width="100%">
                        <tr>
                            <td><a class="text-white" href="#!">Trang chủ</a></td>
                            <td><a class="text-white" href="#fh5co-pricing">Tìm kiếm</a></td>
                        </tr>
                        <tr>
                            <td><a class="text-white" href="#!">Về chúng tôi</a></td>
                            <td><a class="text-white" href="#contact">Góp ý</a></td>
                        </tr>
                        
                    </table>
                </div>
        </div>
    </div>


    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>-->
    <script src="./js/jquery.min.js"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
    <script src="./js/bootstrap.min.js"></script>
    <!--<script src="https://use.fontawesome.com/8e45396e2e.js"></script>-->
    <script src="./js/fontawesome.js"></script>
    <script src="./js/jquery.waypoints.min.js"></script>
    <script src="./js/animate.js"></script>

</body>

</html>