</div>

</div>

<div class="footer">
      
    
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-5" >
                <a href="/admin" style="color : white;font-size: 20px">Computer Product Suggestion<span class="navbar-brand2">
                        Admin</span></a>
        </div>
    </div>
</div>
  

<!-- /. WRAPPER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="../admin/js/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="../admin/js/bootstrap.min.js"></script>
<!-- CUSTOM SCRIPTS -->
<script src="../admin/js/custom.js"></script>


</body>
</html>