<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <base href="http://localhost:3000">
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link href="../admin/css/bootstrap.css" rel="stylesheet" />
    <link href="../admin/css/font-awesome.css" rel="stylesheet" />
    <link href="../admin/css/custom.css" rel="stylesheet" />
    <link href="../css/style.css" rel="stylesheet" />
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
   <link rel="shortcut icon" href="../img/icon/favicon.ico"/>
   <div id="wrapper" style="margin-top: 0">
      <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="adjust-nav">
              <div class="navbar-header">

                  <a class="navbar-brand" href="#">
                      <a class="navbar-brand" href="/admin">Computer Product Suggestion<span class="navbar-brand2">
                              Admin</span></a>
                  </a>
              </div>
              <span class="logout-spn">
                  <a href="/" style="color:#fff;">EXIT</a>

              </span>
          </div>
      </div>
      <%- include left_ad %>
      <body>
            <div id="page-wrapper">
                <div id="page-inner">
</head>