<%- include header_ad %>

<div class="row">
    <div class="col-lg-12">
        <h2>ADMIN DASHBOARD</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 ">
        <div class="alert alert-info">
            <strong>Welcome Admin ! </strong>
        </div>

    </div>
</div>
<!-- /. ROW  -->
<div class="row text-center pad-top">
    <div class=" col-md-4">
        <div class="div-square">
            <a href="admin/quanly">
                <i class="fa fa-list-ul fa-5x"></i>
                <h4>Quản lý laptop</h4>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="div-square">
            <a href="admin/capnhat">
                <i class="fa fa-laptop fa-5x"></i>
                <h4>Thêm laptop</h4>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="div-square">
            <a href="admin/user">
                <i class="fa fa-users fa-5x"></i>
                <h4>See Users</h4>
            </a>
        </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <div class="div-square">
            <a href="admin/dexuat">
                <i class="fa fa-check fa-5x"></i>
                <h4>Danh sách đề xuất</h4>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="div-square">
            <a href="blank.html">
                <i class="fa fa-bar-chart-o fa-5x"></i>
                <h4>Thống kê</h4>
            </a>
        </div>
    </div>
</div>
<%- include footer_ad %>