<%- include header_ad %>

<div class="row">
    <div class="col-lg-12">
        <h2>ADMIN DASHBOARD</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 ">
        <div class="alert alert-info">
            <strong>Welcome Admin ! </strong>
        </div>

    </div>
</div>
<!-- /. ROW  -->
<div class="row text-center pad-top" id="dashboard">
    <div class=" col-md-4">
        <div class="div-square">
            <a href="admin/quanly">
                <i class="fa fa-list-ul fa-5x"></i>
                <h4>Quản lý laptop</h4>
            </a>
        </div>
    </div>
    <div class=" col-md-4">
        <div class="div-square">
            <a onclick="linhkien()" style="cursor: pointer;">
                <i class="fa fa-wrench fa-5x"></i>
                <h4>Quản lý linh kiện</h4>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="div-square">
            <a href="admin/capnhat">
                <i class="fa fa-laptop fa-5x"></i>
                <h4>Thêm laptop</h4>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="div-square">
            <a href="admin/capnhat">
                <i class="fa fa-fighter-jet fa-5x"></i>
                <h4>Tự động cập nhật</h4>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="div-square">
            <a href="admin/users">
                <i class="fa fa-users fa-5x"></i>
                <h4>See Users</h4>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="div-square">
            <a href="admin/dexuat">
                <i class="fa fa-check fa-5x"></i>
                <h4>Danh sách đề xuất</h4>
            </a>
        </div>
    </div>
</div>
<div class="row text-center pad-top" id="linhkien" style="display: none">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <div class="div-square">
            <a href="admin/cpu">
                <i class="fa fa-cogs fa-5x"></i>
                <h4>CPU</h4>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="div-square">
            <a href="admin/ram">
                <i class="fa fa-asterisk fa-5x"></i>
                <h4>RAM</h4>
            </a>
        </div>
    </div>
</div>
<script>
    function linhkien() {
        var lk = document.getElementById("linhkien");
        var db = document.getElementById("dashboard");
        lk.style.display = "block";
        db.style.display = "none";
    }
</script>
<%- include footer_ad %>