<nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li class="active-link">
                    <a href="admin/quanly"><i class="fa fa-desktop "></i>Danh sách laptop</a>
                </li>
                <li>
                    <a href="admin/capnhat"><i class="fa fa-fighter-jet"></i>Tự động cập nhật laptop</a>
                </li>
                <li>
                    <a href="admin/themlaptop"><i class="fa fa-table "></i>Thêm laptop mới</a>
                </li>
                <li>
                    <a href="admin/user"><i class="fa fa-edit "></i>Quản lý user</a>
                </li>
                <li>
                    <a href="admin/dexuat"><i class="fa fa-qrcode "></i>Đề xuất laptop</a>
                </li>
                <li>
                    <a href="admin/thongke"><i class="fa fa-bar-chart-o"></i>Thống kê</a>
                </li>

                

            </ul>
        </div>

    </nav>